In [1]:
from bs4 import BeautifulSoup
from splinter import Browser
import requests
import pandas as pd
import os

In [27]:
executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)

In [3]:
# Windows Users
# executable_path = {'executable_path': 'chromedriver.exe'}
# browser = Browser('chrome', **executable_path, headless=False)

# Mars News

Scrape the NASA Mars News Site and collect the latest News Title and Paragraph Text. 
Assign the text to variables that you can reference later.

https://mars.nasa.gov/news/?page=0&per_page=40&order=publish_date+desc%2Ccreated_at+desc&search=&category=19%2C165%2C184%2C204&blank_scope=Latest

In [4]:
url_mars = 'https://mars.nasa.gov/news/?page=0&per_page=40&order=publish_date+desc%2Ccreated_at+desc&search=&category=19%2C165%2C184%2C204&blank_scope=Latest'
browser.visit(url_mars)

In [5]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [6]:
news_title = soup.find(class_="list_text").find_all(target="_self")[0].text
news_title

"NASA Wins 4 Webbys, 4 People's Voice Awards"

In [7]:
news_paragraph = soup.find(class_="list_text").find_all(class_="article_teaser_body")[0].text
news_paragraph

'Winners include the JPL-managed "Send Your Name to Mars" campaign, NASA\'s Global Climate Change website and Solar System Interactive.'

# JPL Featured Space Image

Visit the url for JPL Featured Space Image here
Use splinter to navigate the site and find the image url for the current Featured Mars Image 
and assign the url string to a variable called featured_image_url
Make sure to find the image url to the full size .jpg image
https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars

In [8]:
url_nasa = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
base_nasa = 'https://www.jpl.nasa.gov/'
browser.visit(url_nasa)

In [9]:
html = browser.html
soup = BeautifulSoup(html,'html.parser')

In [10]:
mars_img =soup.find('a', class_="button fancybox").get('data-fancybox-href')
mars_img

'/spaceimages/images/mediumsize/PIA19382_ip.jpg'

In [11]:
featured_image_url_2 = base_nasa + mars_img
featured_image_url_2

'https://www.jpl.nasa.gov//spaceimages/images/mediumsize/PIA19382_ip.jpg'

# Mars Weather

Visit the Mars Weather twitter account here and scrape the latest Mars weather tweet from the page. 
Save the tweet text for the weather report as a variable called mars_weather.
https://twitter.com/marswxreport?lang=en

In [12]:
url_twitter = 'https://twitter.com/marswxreport?lang=en'
result = requests.get(url_twitter)
html = result.text
soup = BeautifulSoup(html, 'html.parser')

In [13]:
mars_weather = soup.find(class_='tweet-text').get_text()
mars_weather

'InSight sol 525 (2020-05-18) low -93.6ºC (-136.5ºF) high -0.4ºC (31.3ºF)\nwinds from the WNW at 4.8 m/s (10.8 mph) gusting to 18.5 m/s (41.4 mph)\npressure at 7.10 hPapic.twitter.com/VyqYPf6xMI'

# Mars Facts

Visit the Mars Facts webpage here and use Pandas to scrape the table containing facts about the planet including Diameter, Mass, etc.
Use Pandas to convert the data to a HTML table string.

In [14]:
url_space = 'https://space-facts.com/mars/'
browser.visit(url_space)

In [15]:
space = pd.read_html(url_space)
space

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers,
   Mars - Earth Comparison             Mars            Earth
 0               Diameter:         6,779 km        12,742 km
 1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 2                  Moons:                2                1
 3      Distance from Sun:   227,943,824 km   149,598,262 km
 4         Length of Year:   687 Earth days      365.24 days
 5            Temperature:    -153 to 20 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [16]:
space_df = space[0]
space_df.set_index(0, inplace=True)

In [17]:
space_df.index.names = [None]
space_df.columns = ['Specifics']
space_df

                                          Specifics
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.38 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                   -87 to -5 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [18]:
html = space_df.to_html()
html_clean = html.replace('\n', '')
html_clean

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>Specifics</th>    </tr>  </thead>  <tbody>    <tr>      <th>Equatorial Diameter:</th>      <td>6,792 km</td>    </tr>    <tr>      <th>Polar Diameter:</th>      <td>6,752 km</td>    </tr>    <tr>      <th>Mass:</th>      <td>6.39 × 10^23 kg (0.11 Earths)</td>    </tr>    <tr>      <th>Moons:</th>      <td>2 (Phobos &amp; Deimos)</td>    </tr>    <tr>      <th>Orbit Distance:</th>      <td>227,943,824 km (1.38 AU)</td>    </tr>    <tr>      <th>Orbit Period:</th>      <td>687 days (1.9 years)</td>    </tr>    <tr>      <th>Surface Temperature:</th>      <td>-87 to -5 °C</td>    </tr>    <tr>      <th>First Record:</th>      <td>2nd millennium BC</td>    </tr>    <tr>      <th>Recorded By:</th>      <td>Egyptian astronomers</td>    </tr>  </tbody></table>'

# Mars Hemispheres

You will need to click each of the links to the hemispheres in order to find the image url to the full resolution image.

Save both the image url string for the full resolution hemisphere image, and the Hemisphere title containing the hemisphere name. 

Use a Python dictionary to store the data using the keys img_url and title.

Append the dictionary with the image url string and the hemisphere title to a list. This list will contain one dictionary for each hemisphere.

https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars

In [28]:
hemispheres_url = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
browser.visit(hemispheres_url)
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [29]:
items = soup.find_all('div', class_="item")
hemis_urls = []

for item in items:
    title = (item.find('h3').text).replace(' Enhanced', '')
    browser.click_link_by_partial_text(title)
    soup = BeautifulSoup(browser.html, 'html.parser')
    
    full = soup.find('a', text='Sample')
    img_url = full['href']
    
    hemis_urls.append({'title': title, 'img_url': img_url})
    browser.back()

browser.quit()    

hemis_urls

[{'title': 'Cerberus Hemisphere',
  'img_url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg'},
 {'title': 'Schiaparelli Hemisphere',
  'img_url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg'},
 {'title': 'Syrtis Major Hemisphere',
  'img_url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg'},
 {'title': 'Valles Marineris Hemisphere',
  'img_url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg'}]